check_for_updates_on_startup 0
should_load_tutorial_when_no_other_file 0
should_launch_new_window 0

background_color 0.102 0.106 0.149
dark_mode_background_color 0.102 0.106 0.149
dark_mode_contrast 0.8

custom_background_color 0.102 0.106 0.149
custom_text_color 0.875 0.863 0.847

status_bar_color 0.102 0.106 0.149
status_bar_text_color 0.875 0.863 0.847

startup_commands toggle_custom_color;toggle_titlebar
